h3{
    color: var(--Red);
}
/* #empty-cart-ctn{
    background-color: purple;
    width: 100%;
    height: auto;
} */
.empty-cart-img-ctn{
    /* background-color: var(--Rose-100); */
    width: 100%;
    height: 20%;
    display: grid;
    place-items: center;
}
.empty-cart-description{
    font-size: 12px;
    height: 20%;
    width: 100%;
    /* background-color: var(--Rose-100); */
    text-align: center;

}

#cart-quantity{
    /* color: var(--Red); */
}